<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
    <link href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css" rel="stylesheet">

	<title>AdminHub</title>
</head>
<body>

<div class="dashboard-container" [attr.data-theme]="isDarkMode ? 'dark' : 'light'">
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			
			<img src="Fichier-4@2x.png">
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/reunions']">
					<i class='bx bxs-calendar-check' ></i>
					<span class="text">Gestion des Réunions</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/routines']">
					<i class='bx bxs-check-square' ></i>
					<span class="text">Suivi des tâches de routine</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/interventions']">
					<i class='bx bxs-wrench' ></i>
					<span class="text">Suivi des Interventions</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-chart' ></i>
					<span class="text">Analyse de Performance</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a class="logout" (click)="logout()">
				  <i class='bx bxs-log-out-circle'></i>
				  <span class="text">Logout</span>
				</a>
			  </li>
		</ul>
	</section>
	<!-- SIDEBAR -->

	<section id="content">
		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
				
			</div>

			
		</main>
	</section>
</div>
	

	<style>
		#sidebar, main {
			transition: background-color 0s !important;
		}

		[data-theme="dark"] {
			transition: background-color 0s !important;
		}

		[data-theme="light"] {
			transition: background-color 0s !important;
		}
	</style>

	<script src="dashboard.component.ts"></script>
</body>
</html>